body {
    background-color: rgb(245,245,241);
}
.team-card {
    width: calc(100% / 2 - 10px);
    margin: 5px;
}
@media screen and (min-width: 768px ) {
    .team-card {
        width: calc(100% / 3 - 30px);
        margin: 15px;
    }
}

.team-card-body {
    background-color: white;
    font-family: 'Imbue', serif;
}